<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
    <div class="container">
        <a href="index.html" class="navbar-brand d-flex align-items-center">
            <img src="../assets/img/logo/darafa%20foods%20500x232.webp" width="150" height="70"
                alt="DARAFA Logo" />
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle Navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto position-relative" id="navMenu">
                <li class="nav-item"><a class="nav-link" href="/#home">BERANDA</a></li>
                <li class="nav-item"><a class="nav-link" href="/#features">KEUNGGULAN KAMI</a></li>
                <li class="nav-item"><a class="nav-link" href="/#menu">MENU MAKANAN</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">KONTAK KAMI</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="../pages/gallery.html">GALERI</a></li> -->
                <li class="nav-item"><a class="nav-link" href="../pages/about-us.html">TENTANG KAMI</a></li>
                <!-- garis indikator -->
                <span class="nav-indicator"></span>
            </ul>
        </div>
    </div>
</nav>