    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
        <div class="container">
            <a href="index.html" class="navbar-brand d-flex align-items-center">
                <img src="../assets/img/logo/logo%20DARAFA%20transparent%20crop.png" width="60" height="68"
                    alt="DARAFA Logo" />
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto position-relative" id="navMenu">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index.html#home">BERANDA</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#menu">MENU</a></li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#features">KEUNGGULAN</a></li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#contact">KONTAK</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="../pages/gallery.html">GALERI</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="../pages/about-us.html">TENTANG KAMI</a></li>

                    <!-- garis indikator -->
                    <span class="nav-indicator"></span>
                </ul>
            </div>
        </div>
    </nav>